<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    <%- include('header') %>
    <div class="window">
   <ul>
    <% messages.forEach((message) => { %>
      <li class="message">
        <h1><%= message.user %> </h1>
        <h3><%= message.text %> </h3>
        <h3><%= message.added.toLocaleString() %> </h3>
        <a class="details" href="/messages/<%= message.id %>" >Open details</a>
      </li>
    <% }) %>
   </ul>
   </div>
   </div>
  </body>
</html>
